/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#type{
	-fx-font-size: 30px;
	-fx-background-color: rgba(180,180,180,180);
	-fx-text-fill:black;
	-fx-padding:6 6 6 6;
	
}
#mine{
	-fx-font-size: 30px;
	-fx-background-color: rgba(180,180,180,180);
	-fx-text-fill:black;
	-fx-padding:6 6 6 6;
	
}
.root{
	-fx-background: yellow;
}